body {
    margin: 16px;
    padding: 0px;
}
.img {
    max-height: 40px;
    max-width: 40px;
}
form.logOutForm {
    margin: 1% 1% 0px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 4px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 6px;
}
#modules {
    border: none;
}
#modules tr th{
    text-align: center;
    padding: 4px 8px;
}
#modules tr td:nth-child(-1n+4) {
    padding: 0 6px;
}
#modules tr:nth-child(even) td:nth-child(-1n+4) {
    background-color: #e6e6e6;
}
#modules tr td:nth-child(1n+5) {
    border: none;
    padding-left: 3px;
}
button img {
    max-height: 30px;
    max-width: 30px;
}
button {
    border: none;
    color: black;
    text-align: center;
}
td button.btn {
    color: black;
}
button.delete:hover, button.modify:hover, button.completeCW:hover, button.view:hover {
    color: white;
    cursor: pointer;
}
#newAdd, #delMul {
    margin-left: 6px;
    width: 200px;
}
.filterDiv {
    margin-left: 24px;
}
.filterDiv label {
    margin-right: 10px;
}
label {
    margin-bottom: .3rem;
}
.form-row {
    margin-bottom: 10px;
}
.form-row p {
    width: 100%;
}
.modal-form {
    z-index: 1000;
    width: 500px;
    background-color: white;
    padding: 45px;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    margin: -250px auto 0px;
    display: none;
}
.modal-form h1, .modal-form h2 {
    margin: -20px 0 -30px;
    text-align: center;
}
.modal-button {
    position: relative;
    margin-top: -10px;
    float: right;
}
#massDeleteBtn, #delAllProjectsBtn {
    margin-bottom: -20px;
}
.close {
    position: relative;
    top: -45px;
    left: 35px;
    transform: rotate(45deg);
    font-size: 40px;
    color: black;
    cursor: pointer;
}
.close2 {
    position: relative;
    top: -45px;
    left: 35px;
    transform: rotate(45deg);
    font-size: 40px;
    color: black;
    cursor: pointer;
}