<html>
<h2>BUMS ADD</h2>

<body>
<form action = "/add" method = POST>
  <label for="Module Name">Module Name</label><br>
  <input type="text" id="mName" name="mName"><br>
  <label for="Project Title">Project Title</label><br>
  <input type="text" id="projectTitle" name="projectTitle"><br>
  <label for="dueDate">Due Date</label><br>
  <input type="text" id="dueDate" name="dueDate"><br>
  <label for="noOfMilestones">No. of Milestones</label><br>
  
<select name="noOfMilestones" id="noOfMilestones">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

<input type="Submit" value="Add" name="Add" id="Add" />
</form>
</body>
</html>