<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/home.css">

{{! datePicker dependencies + function }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script> $( function() {
    $( "#dueDate" ).datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true
    });
    $( "#modDueDate" ).datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true
    });
}); </script>

<script src="add.js"></script>
<script src="sort.js"></script>
<script src="completeModule.js"></script>
</head>
<body>

<div class="form-inline">
    <h1>{{uname}}</h1>
    <h1>,&nbsp</h1>
    <h1>{{course}}</h1>
</div>

<br>
<div class="form-inline">
    <img class="img" src="../img/add.png">
    <input class="btn btn-success input-control" value="Add New Project" name="newAdd" id="newAdd"/>
    <div class="form-group filterDiv">
        <label for="sort">Filter Table...</label>
        <select class="form-control" id="sort">
        <option value="0">Latest Inputed</option>    
        <option value="1">Alphabetical</option>
        <option value="2">Reverse Alphabetical</option>
        <option value="3">Earliest Due Date</option>
        <option value="4">Lastest Due Date</option>
        <option value="5">Completed Projects</option>
        <option value="6">Uncompleted Projects</option>
        </select>
    </div>
    <form class="logOutForm" action="/log" method="post">
        <img class="img" src="../img/logOut.png">
        <input class="btn btn-default" type="Submit" value="Logout" name="Log" id="Log" />
    </form>
</div>


<hr>
<table id = "modules" border="1"></table>
<hr>

<div class="input-container">
    <img class="img" src="../img/deleteAll.png">
    <input class="btn btn-danger" type="Submit" value="Delete Multiple Projects" name="delMul" id="delMul"/>
</div>

<div id = "Adding" class="modal-form">
    <h1> Add a new Project </h1>
    <div class="close">+</div>
    <br><br>
    <div class="form-row">
        <div class="col">
            <label for="mName">Module Name</label>
            <input type="text" class="form-control" id="mName" name="mName">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="projectTitle">Project Title</label>
            <input type="text" class="form-control" id="projectTitle" name="projectTitle">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="noOfMilestones">No. of MileStones</label><br>
            <select name="noOfMilestones" class="custom-select" id="noOfMilestones">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col">
            <label for="dueDate">Due Date</label><br>
            <input type="text" class="form-control" id="dueDate" name="dueDate">
        </div>
    </div>
    <br><button class="btn btn-success modal-button" type="submit" id="addProject">Add New Project</button>
</div>

<div id = "Modify" class="modal-form">
    <div class="close">+</div>
    <h1 id="modifyHeading"></h1>
    <br><br>
    <div class="form-row">
        <div class="col">
            <label for="mMName">Module Name</label>
            <input type="text" class="form-control" id="modMName" name="modMName">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="modProjectTitle">Project Title</label>
            <input type="text" class="form-control" id="modProjectTitle" name="modProjectTitle">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="modNoOfMilestones">No. of MileStones</label><br>
            <select name="modNoOfMilestones" class="custom-select" id="modNoOfMilestones">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col">
            <label for="modDueDate">Due Date</label><br>
            <input type="text" class="form-control" id="modDueDate" name="modDueDate">
        </div>
    </div>
    <br><button class="btn btn-warning modal-button" type="submit" id="modProject">Modify Project</button>
</div>

<div id = "delMultipleProjects" class="modal-form text-center">
    <div class="close">+</div>
    <h2>Please Select an Option</h2><br><br>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="CompletedProjects" name="deleteOptions" value="CompletedProjects">
        <label class="form-check-label" for="CompletedProjects"> Select if you wish to delete all Completed Projects</label>
    </div>
    <div class="form-check form-check-inline">

        <input class="form-check-input" type="radio" id="DeleteAllProjects" name="deleteOptions" value="DeleteAllProjects">

        <label class="form-check-label" for="DeleteAllProjects"> Select if you wish to delete all projects</label>
    </div><br><br>
    <button class="btn btn-danger" type="submit" id="massDeleteBtn">Delete</button>
</div>

<div id="delAllProjects" class="modal-form text-center">
    <div class="close">+</div>
    <h2>Delete Confirmation</h2><br><br>
    <p>Are you sure you want to delete all of your projects? <br> If so please enter "Delete" into the input box to proceed</p>
    <input type="text" class="form-control" id="deleteEntry" name="deleteEntry" placeholder="Delete"><br>
    <button class="btn btn-danger" type="submit" id="delAllProjectsBtn">Confirm Mass Delete</button>

</div>
<div id="delCompletedProjects" class="modal-form text-center">
    <div class="close">+</div>
    <h2>Delete Confirmation</h2><br><br>
    <p>Are you sure you want to delete your completed projects? <br> If so please enter "Delete" into the input box to proceed</p>
    <input type="text" class="form-control" id="deleteCompletedEntry" name="deleteCompletedEntry" placeholder="Delete"><br>
    <button class="btn btn-danger" type="submit" id="delCompletedProjectsBtn">Confirm Mass Delete</button>

</div>

</body>
</html>