<html>
<h2>{{step}}</h2>
  <form action="/add/milestones" method=POST>
    <label for="Desc"><b>MileStone Desc</b></label>
    <input type="text" id="milestoneDesc" name="milestoneDesc" required>
    <input type="Submit" id="Add" />
  </form>
</html>