<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{{! datePicker dependencies + function }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script> $( function() {
    $( "#dueDate" ).datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true
    });
}); </script>

<script src="add.js"></script>
<script src="sort.js"></script>
<script src="completeModule.js"></script>
</head>
<body>
Module ID :  {{module_id}}</br>
Project Tile :  {{projectTitle}}</br>
Module name :  {{moduleName}}</br>
Due Data :   {{dueDate}}</br>
Completion Data: {{completeDate}}</br>
Coursework Complete : {{courseworkCompleted}}</br>
{{#milestones}}</br>
{{milestone_id}}</br>
{{Desc}}</br>
{{milestoneStep}}</br>
{{milestoneCompleted}}</br>
{{/milestones}}</br>
<p>bums</p>
</body>

</html>