<html>
<script id="tables" type="text/html">
    <tr>
        <th>Project Title</th>
        <th>Module Name </th>
        <th>Submission Date</th>
        <th>Completion Date </th>
        <th>Completed?</th>
        </tr>
        {{#module}}
        <tr>
        <td>{{projectTitle}}</td>
        <td>{{moduleName}}</td>
        <td>{{dueDate}}</td>
        <td>{{completionDate}}</td>
        <td>{{courseworkCompleted}}</td>
        <td><button name = "del"   class="delete" value = {{module_id}}  > Delete</button></td>
        <td ><button name = "mod"  class="modify">Modify</button></td>
        <td><button name = "completeCW"  class="completeCW" value = {{module_id}}>Complete</button></td>
        <td><button name = "view"  class="view" value = {{module_id}}>View</button></td>
        </tr>
        {{/module}}
</div>
</script>